.button{
    margin: 10px;
    padding: 18px 70px;
    border-radius: 8px;
    border: none;
    font-size: 1.07rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
}