*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color: #0C071B;
    height: 100%;
}

html{
    height:100%
}
h2{
    font-family: 'Rubik',sans-serif;
    color: white;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 10px;
}

.centeredContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardText{
    font-weight: 500;
    color: #fefefec5;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.purple-text{
    color: #5D42F5;
}

.pink-text{
    color:  #D428F5;
}

.red-text{
    color: #FC185E;
}
.icon{
    font-size: 80px;
    margin-bottom: 20px;
}

.mobile{
    display: none
}

.desktop{
    display: block;
}

@media screen and (max-width:1023px){
    .row{
        flex-direction: column;
    }

    .mobile{
        display:block
    }
    .desktop{
        display: none
    }
}